#experiences {
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 1rem;
    margin: 0.5rem;
}

.header {
    margin: 1.2rem 1rem 2rem 1rem;
}

.carousel {
    width: 90%;
    margin: auto;
}

.exp-card {}

@media (min-width: 2000) {
    .carousel {
        max-width: 55%;
    }
    #experiences {
        height: 50vh;
    }
}