#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
    margin-top: 60px;
    animation: backGround 12s infinite linear;
    color: rgb(126, 11, 234);
}

.name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name p {
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.interests {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.interests p {
  font-size: 30px;  
}
.socials {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
}

#github {
    margin: 0 20px;
    font-size: 50px;
    color: black;
}

#instagram {
    margin: 0 20px;
    font-size: 50px;
    color: purple;
}

#youtube {
    margin: 0 20px;
    font-size: 50px;
    color: red;
}

#facebook {
    margin: 0 20px;
    font-size: 50px;
    color: rgb(21, 94, 240);
}

#linkedin {
    margin: 0 20px;
    font-size: 50px;
    color: rgb(21, 116, 240);
}

@keyframes backGround {
    0% {
        background-color: #7ff8e6; /* Light salmon */
    }
    10% {
        background-color: #67f3c9; /* Vivid pink */
    }
    20% {
        background-color: #00f9cb; /* Dark slate blue */
    }
    30% {
        background-color: rgb(111, 202, 238);
    }
    40% {
        background-color: #00ffee;
    }
    75% {
        background-color: #63f1cd;
    }
    100% {
        background-color: #84f7cf; /* Light salmon, back to start */
    }
}