#home {
    margin: auto;
    height: 100vh;
    margin-top: 60px;
    animation: backGround 12s infinite linear;
}

#contact {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgb(228, 223, 223);
}

#icon {
    font-weight: bold;
}
#github {
    font-size: 40px;
    color: black;
}
#instagram {
    font-size: 40px;
    color: purple;
}
#youtube {
    font-size: 40px;
    color: red;
}
#facebook {
    font-size: 40px;
    color: rgb(21, 94, 240);
}
#linkedin {
    font-size: 40px;
    color: rgb(21, 116, 240);
}

@keyframes backGround {
    0% {
        background-color: #7ff8e6; /* Light salmon */
    }
    10% {
        background-color: #67f3c9; /* Vivid pink */
    }
    20% {
        background-color: #00f9cb; /* Dark slate blue */
    }
    30% {
        background-color: rgb(111, 202, 238);
    }
    40% {
        background-color: #00ffee;
    }
    75% {
        background-color: #63f1cd;
    }
    100% {
        background-color: #84f7cf; /* Light salmon, back to start */
    }
}